@font-face {
    font-family: heading;
    src: url(heading.otf);
}

@font-face {
    font-family: title;
    src: url(title.ttf);
}
@font-face {
    font-family: reaver;
    src: url(reaver.otf);
}

.heading {
    position: -webkit-sticky;
    position: sticky;
    font-family: heading;
    font-size: 200px;
    top: 50px;
    height: 1px;
}

.title {
    font-family: title;
    font-size: 80px;
}

.top {
    background-image: url(rock.png);
    background-repeat: no-repeat;
    height: 1080px;
    position: absolute;
    width: 100%;
    background-color: white;
}

body {
    background-color: black;
    margin: 0px;
}

.bottom {
    position: absolute;
    top: 1080px;
    color: white;
    height: 1000px;
    background-color: black;
    padding-left: 50px;
    padding-bottom: 100px;
}

.creation {
    background-color: black;
    width: 400px;
    height: 600px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    transition: border 0.5s;
    height: 600px;
    margin-right: 50px;
}

.creation:hover {
    border: 1px solid white;
}

.table {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    height: 600px;
    opacity: 0.3;
    transition: opacity 0.5s;
    object-position: -250px;
    
}

.thumbnail:hover {
    opacity: 0.6;
}

.tria {
    z-index: 3;
    width: 400px;
    position: absolute;
    bottom: 90px;
    opacity: 0.1;
    pointer-events: none;
}

.creationtitle {
    width: 400px;
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 100px;
    font-family: heading;
    pointer-events: none;
}